<body>

    <div class="container">
        <div class="perfil">
            <img src="img2/icons8-usuário-50.png" alt="">
        </div>
        <h2>Alterar Email e Senha</h2>

        <label for="newEmail">Novo email:</label>
        <input type="email" id="newEmail" name="newEmail"  placeholder="Digite o novo email">

        <label for="newPassword">Nova senha:</label>
        <input type="password" id="newPassword" name="newPassword"  placeholder="Digite a nova senha">


        <label for="newPassword">Confirme sua nova senha:</label>
        <input type="password"   placeholder="Confirme a senha">

        <button >Salvar alterações</button>
    </div>

</body>