<section class="comment-section">
    <h2>Comentários dos Nossos Clientes</h2>
    
    <div class="comment">
        <div class="comment-item">
            <div class="comment-icon"><img src="/assets/img/pessoa2.png" alt="Person 1"></div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo vel nulla laoreet vulputate.</p>
                <p class="comment-author">- Cliente 1</p>
            </div>
        </div>
    </div>
    
    <div class="comment">
        <div class="comment-item">
            <div class="comment-icon"><img src="/assets/img/pessoa1.png" alt="Person 2"></div>
            <div class="comment-text">
                <p>Curabitur eleifend, elit eu fermentum hendrerit, nisl dolor posuere justo.</p>
                <p class="comment-author">- Cliente 2</p>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-item">
            <div class="comment-icon"><img src="/assets/img/pessoa3.png" alt="Person 2"></div>
            <div class="comment-text">
                <p>Curabitur eleifend, elit eu fermentum hendrerit, nisl dolor posuere justo.</p>
                <p class="comment-author">- Cliente 2</p>
            </div>
        </div>
    </div>
    
    <!-- Adicione mais comentários conforme necessário -->

</section>