<body>
    <div class="container-geral">

        <div class="titulo">
            <h2 class="cordaycare2">VOCÊ ENCONTRA NA</h2>
            <h1 class="cordaycare"> PETCITY <img src="assets/img-sobre-nos/icons8-paws-64.png" alt=""></h1>
        </div>


        <div class="fullscreen-card">
            <div class="img-prop">
                <img class="img-cards" src="assets/img-sobre-nos/dogPark.webp" alt="Card Image">
            </div>
            <div class="card-content">
                <h2>DOGPARK</h2>
                <p>Nosso espaço foi todo projetado e adaptado para os nossos amigos de quatro patas, possuindo portas de
                    segurança em todos os ambientes. <br>
                    <br> º Área externa ampla
                    <br> º Piso antiderrapante adaptado;
                    <br> º Playground;
                    <br> º Quiosque;
                    <br> º Lago externo.
                </p>
            </div>
        </div>

        <div class="custom-card2">
            <div class="card-content2">
                <h2>DOGFUN</h2>
                <p>Nossa piscina de doguinho é um cantinho especial, que garante diversão e segurança para os nossos
                    cães se
                    refrescarem! <br>

                    <br> º Para os peludinhos que gostam de água aqui é o lugar perfeito!
                </p>
            </div>
            <div class="img-prop">
                <img class="img-cards" src="assets/img-sobre-nos/festa-piscina-video-cachorros.jpg" alt="Card Image">
            </div>
        </div>


        <div class="fullscreen-card">
            <div class="img-prop">
                <img class="img-cards" src="assets/img-sobre-nos/spa.jpg" alt="Card Image">
            </div>
            <div class="card-content">
                <h2>DOGBEAUTY</h2>
                <p>O nosso banho e tosa é exclusivo para os clientes do PetCity, visando o bem-estar de nossos cães.
                    <br>
                    <br> º Seu cão limpinho e cheiroso após um dia cheio de atividades!
                    <br> º Proporcionamos laços entre a matilha e os nossos banhistas, favorecendo a familiarização de
                    uns
                    aos outros.

                </p>
            </div>
        </div>

        <div class="custom-card2">
            <div class="card-content2">
                <h2>DOGRELAX</h2>
                <p>Nossa sala de descanso é toda almofadada, com pufes e camas da Buddy Toys espalhadas por todo o
                    ambiente.
                    <br>

                    <br> º Além de muito conforto, a sala de descanso é um ambiente climatizado e possui cromoterapia
                    para
                    auxiliar no relaxamento dos cães.
                </p>
            </div>
            <div class="img-prop">
                <img class="img-cards" src="assets/img-sobre-nos/dormindo.jpg" alt="Card Image">
            </div>
        </div>

        <br>

        <div class="cards">
            <div class="card green">

                <p class="tip">MISSÃO</p>
                <img src="assets/img-sobre-nos/icons8-missão-de-uma-empresa-50.png" alt="">
                <p class="second-text">Sempre promover bem-estar, qualidade de vida, equilíbrio e diversão aos cães que
                    frequentam a PetCity. E através da capacitação profissional, gerar valor para os profissionais e
                    empreendedores que desejam ingressar na área.</p>

            </div>
            <div class="card orange">
                <p class="tip">VISÃO</p>

                <img src="assets/img-sobre-nos/icons8-surpresa-64.png" alt="">
                <p class="second-text">º Ser referência em serviços de bem-estar, lazer e comportamento canino, sempre
                    focando na qualidade de vida e equilíbrio da matilha.
                    <br> º Oferecer a melhor experiência para donos de cães, profissionais e empreendedores do mercado
                    de
                    daycare.
                </p>

            </div>
            <div class="card green">
                <p class="tip">VALORES</p>
                <img src="assets/img-sobre-nos/icons8-valores-50.png" alt="">

                <p class="second-text">º Ser a preferência do cliente; <br>
                    º Respeitar a individualidade de cada cão; <br>
                    º Excelência em todos os serviços prestados; <br>
                    º Foco no bem-estar e na qualidade de vida dos animais; <br>
                    º Pessoas respeitadas, comprometidas e realizadas;</p>
            </div>
        </div>

    </div>
</body>