<div class="banner">
    <div class="container-fora">
        <div class="text-container">
            <img class="img-badge" src="/assets/img/badge.png" alt="">
            <h1 class="letra-container">DIFERENCIAIS</h1>
            <img class="img-badge" src="/assets/img/badge.png" alt="">
        </div>
        <div class="image-container">
            <div class="img-card">
                <img src="/assets/img/dog-bed.png" alt="Imagem 1">
            </div>
            <div class="img-card">
                <img src="/assets/img/pool.png" alt="Imagem 2">
            </div>
            <div class="img-card">
                <img src="/assets/img/camera.png" alt="Imagem 3">
            </div>
            <div class="img-card">
                <img src="/assets/img/pet-toy.png" alt="Imagem 4">
            </div>
        </div>
    </div>
</div>