<body>
    <form class="plan-chooser">
      <div class="header">
      <span class="title">Escolha seu plano</span>
  
      </div>
      <div class="plan-option">
          <input value="monthly" id="1week" name="plan" type="radio">
        <label for="1week">
          <div class="plan-info">
          <span class="plan-cost">R$302,00/mês</span>
          <span class="plan-name">1x semana</span>
          </div>
        </label>
      </div>
      <div class="plan-option">
          <input value="monthly" id="2week" name="plan" type="radio">
        <label for="2week">
          <div class="plan-info">
          <span class="plan-cost">R$548,00/mês</span>
          <span class="plan-name">2x semana</span>
          </div>
        </label>
      </div>
      <div class="plan-option">
          <input value="monthly" id="3week" name="plan" type="radio">
        <label for="3week">
           <div class="plan-info">
          <span class="plan-cost">R$613,00/mês</span>
          <span class="plan-name">3x semana</span>
          </div>
         
        </label>
      </div>
      <div class="plan-option">
        <input value="monthly" id="4week" name="plan" type="radio">
      <label for="4week">
        <div class="plan-info">
        <span class="plan-cost">R$716,00/mês</span>
        <span class="plan-name">4x semana</span>
        </div>
      </label>
    </div>
    <div class="plan-option">
      <input value="monthly" id="5week" name="plan" type="radio">
    <label for="5week">
      <div class="plan-info">
      <span class="plan-cost">R$790,00/mês</span>
      <span class="plan-name">5x semana</span>
      </div>
      <span class="reduction"> Save 20% </span>
    </label>
  </div>
  <div class="plan-option">
    <input value="monthly" id="diaria" name="plan" type="radio">
  <label for="diaria">
    <div class="plan-info">
    <span class="plan-cost">R$90,00/dia</span>
    <span class="plan-name">Diaria Avulsa</span>
    </div>
  </label>
  </div>
                <a href="#" title="" class="choose-btn"> Escolher plano </a>
    
    </form>
    
  </body>
