body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .plan-chooser {
    background-color: rgba(255, 255, 255, 1);
    max-width: 430px;
    border-radius: 10px;
    padding: 20px;
    color: #000;
    box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* Centraliza verticalmente */
  }
  
  .header {
    display: flex;
    text-align: center;
    margin-top: 0.75rem;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
  }
  
  .plan-chooser .title {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #9A6AB4;
    margin: 0;
  }
  
  
  .plan-option {
    margin-top: 1rem;
    margin-bottom: 15px;
    width: calc(50% - 10px);
    box-sizing: border-box;
  }
  
  .plan-option label {
    cursor: pointer;
    overflow: hidden;
    border: 2px solid rgba(229, 231, 235, 1);
    border-radius: 0.375rem;
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .4rem;
    margin: 10px 0;
    transform: all .15s ease;
  }
  
  .plan-option label .plan-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .plan-cost {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #9931d1;
  }
  
  .plan-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9833ce;
  }
  
  .reduction {
    display: inline-block;
    border-radius: 9999px;
    border: 1px solid #83BD4C;
    background-color: rgba(220, 252, 231, 1);
    padding: 0.2rem .3rem;
    font-size: 0.675rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #83BD4C;
  }
  
  .plan-option input:checked + label {
    border-color: #E2B6C5;
  }
  
  .choose-btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #E2B6C5;
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: 600;
      color: #fff;
    transform: all .15s ease;
  }
  
  .choose-btn:hover {
    opacity: .9;
  }
  
  .plan-option input {
    display: none;
  }
  
  
  