body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav {
    background-color: #9A6AB4;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
    padding: 0.3%;
}

.btnSair{
    margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #f8d7da; /* Cor de fundo (vermelho no exemplo) */
  color: #6f42c1; /* Cor do texto (branco no exemplo) */
  border: none; /* Cor da borda (vermelho no exemplo) */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave ao passar o mouse */
}
.btnSair:hover{
    background-color: white; /* Cor de fundo ao passar o mouse (um tom mais escuro de vermelho no exemplo) */
    border-color: white; /* Cor da borda ao passar o mouse (um tom mais escuro de vermelho no exemplo) */
    color: #6f42c1; /* Cor do texto ao passar o mouse (branco no exemplo) */
}
.btnPerfil{
    font-weight: bold;
    font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none; /* Cor da borda roxa */
  border-radius: 5px; /* Borda arredondada */
  color: #6f42c1; /* Cor do texto roxo */
  background-color: #f8d7da; /* Cor de fundo vermelho claro para o estado padrão */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transição suave ao passar o mouse */
}
.btnPerfil:hover{
    background-color: white; /* Cor de fundo ao passar o mouse (um tom mais escuro de vermelho no exemplo) */
    border-color: white; /* Cor da borda ao passar o mouse (um tom mais escuro de vermelho no exemplo) */
    color: #6f42c1; /* Cor do texto ao passar o mouse (branco no exemplo) */
}


.nav .logo a {
    text-decoration: none;
    color: white;
}

.nav .logo-img img {
    vertical-align: middle;
    width: 50px; /* Largura fixa para a imagem */
    height: 50px; /* Altura fixa para a imagem */
}

.nav .search-bar {
    display: flex;
    align-items: center;
    width: 30%;
}

.nav .search-bar input {
    width: 100%;
    color: black;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.nav .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}
.nav .search-bar button img {
    height: 25px;
}

.nav .icones {
    display: flex;
    justify-content: space-evenly;
}
.nav .icones img {
    height: 40px;
}

.nav .icones .select1, .nav .icones .select2 {
    display: block; /* Exibe os links normalmente em telas maiores */
}

.menu-icon {
    display: none; /* Oculta o ícone do menu em telas maiores */
}
.select2{
    cursor: pointer;
}
.cart{
    transform: translateX(calc(-885px));
    position: fixed;
    top: 0;
    display: block;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: purple;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 9999;
}
.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;

}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem; 
}
.cart-product-title{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(black);
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: red;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: rgb(252, 151, 18);
    color: azure;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: black;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
}



@media screen and (max-width: 768px) {
    /* Estilos para telas menores, por exemplo, dispositivos móveis */
    .nav {
        flex-direction: column; /* Coloca os itens em uma coluna em telas menores */
        align-items: flex-start;
        padding: 20px; /* Aumenta o espaço interno */
    }

    .nav .logo, .nav .search-bar, .nav .icones {
        margin: 0;
        width: 100%; /* Ocupa 100% da largura em telas menores */
    }

    .nav .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .nav .search-bar {
        display: flex; /* Mantém a exibição da barra de pesquisa e do ícone do menu na mesma linha */
        justify-content: space-between; /* Coloca os itens em lados opostos da barra de pesquisa */
        margin-top: 20px;
    }

    .menu-icon {
        display: block; /* Exibe o ícone do menu em telas menores */
        cursor: pointer;
    }

    .nav .search-bar input {
        width: calc(95% - 40px); /* Ajusta a largura da barra de pesquisa para acomodar o ícone do menu */
    }
    .nav .search-bar button img{
        height: 15px;
    }

    .nav .icones .select1, .nav .icones .select2 {
        display: none; /* Oculta os links em telas menores */
    }
}