<header>
    <div class="logo">
        <a routerLink="">
            <div class="logo img"><img src="assets/Adoção de Animais Logocortado (1).png" alt="PETCITY">PETCITY</div>
        </a>
    </div>
    <div class="search-bar">
        <input type="search" placeholder="Pesquisar"/>
        <button><a href=""><img src="/assets/icons8-pesquisar-30.png" alt=""></a></button>
    </div>
    <div class="usuario"><a href="#"><img src="assets/icons8-account-48.png" alt=""></a></div>
    <div class="carrinho"><a href="#"><img src="assets/icons8-shopping-cart-50bran.png" alt=""></a></div>
</header>
