
    <swiper-container navigation="true" pagination="true" pagination-clickable="true">
        <swiper-slide>
            <div class="check">
                <img src="/assets/img/1.png" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="check">

                <img src="/assets/img/2.png" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="check">

                <img src="/assets/img/3.png" alt="">
            </div>
        </swiper-slide>
    </swiper-container>
