<body>
    
    <div class="conteudo">
      <!-- Conteúdo principal da página aqui -->  
  
    <div class="area-contato">
      <h3>Entre em Contato</h3>
      <p>Email: petcity&#64;gmail.com</p>
      <p>Telefone: (11) 1234-5678</p>
      
      <form>
        <label for="duvidas-comentarios">Dúvidas e Comentários:</label>
        
        <textarea id="duvidas-comentarios" name="duvidas-comentarios" rows="4" placeholder="Digite suas dúvidas e comentários aqui..."></textarea>
  
        <button class="full-rounded">
          <span>Enviar </span>
          <div class="border full-rounded"></div></button>
      </form>
    </div>
  </div>
  
</body>