<div class="container">
    <div class="row">

        <div class="pen-title">
            <h1>Bem vindo!</h1>
        </div>
        <div class="container">
            <div class="card"></div>
            <div class="card">
                <h1 class="title">Login</h1>
                <form>
                    <div class="input-container">
                        <input type="text" id="Username" required="required" />
                        <label for="Username">Nome de usuário</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" id="Password" required="required" />
                        <label for="Password">Senha</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <button><span>Login</span></button>
                    </div>
                    <h5 class="titleRegistrar">É novo por aqui?</h5>
                    <br>
                    <div class="button-container ">
                        <button><span>Registre-se</span></button>
                    </div>
                    <div class="footer"><a href="#">Esqueceu sua senha?</a></div>
                </form>
            </div>
        </div>

    </div>
</div>