<body>
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
        <div class="login" id="loginForm">
            <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
                <label aria-hidden="true">Login</label>
                <input class="input" type="email" name="email" ngModel required placeholder="Email: " required="">
                <input class="input" type="password" name="pswd" ngModel required placeholder="Senha:" required="">
                <button [disabled]="cadastroForm.invalid" >Login</button>
                <label for="chk">Cadastre-se</label>
            </form>
        </div>
    
        <div class="register">
            <form class="form" (ngSubmit)="cadastrar()" #cadastroForm="ngForm">
                <label aria-hidden="true">Cadastre-se</label>
                <input class="input" type="text" name="txt" [(ngModel)]="novoCliente.nome" required="">
                <input class="input" type="email" name="email" [(ngModel)]="novoCliente.email" required="">
                <input class="input" type="password" name="pswd" [(ngModel)]="novoCliente.senha" required="">
                <button class="button2" type="submit" [disabled]="cadastroForm.invalid">Cadastre-se</button>
                <label for="chk">Fazer Login</label>
            </form>
        </div>
    </div>
</body>