body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e0dede;
}

.main {
  width: 100%;
  max-width: 700px;
  margin: auto;


  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E88F4A;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

#chk {
  display: none;
}

.login label,
.register label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input {
  width: 100%;
  height: 50px;
  background: #e0dede;
  padding: 4px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.login {
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 100% / 10%;

}
/* Register */
.register {
  width: 100%;
  height: 0;
  background: #83BD4C;
  overflow: hidden;
  

}

#chk:checked ~ .register {
  height: 100%;
}

#chk:checked ~ .register label {
  
}

#chk:checked ~ .login label {
  
}

/* Button */
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #83BD4C;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}
.form .button2{
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #E88F4A;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #E88F4A;
}
.form .button2:hover{
  background-color: #83BD4C;
}

#loginForm {
  height: 100%;
  overflow: hidden;

}

#chk:checked ~ #loginForm {
  height: 0;
  overflow: hidden;
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 3% 0 3%;
}

#chk:checked ~ .login label {
  transform: scale(.6);
  margin: 5% 0 5%;
}
