<body>
    <div class="container-principal">

        <h2>REGRAS DO</h2>
        <h1 class="cordaycare"> DAYCARE <img src="assets/img-regras/icons8-paws-64 (1).png" alt=""></h1>

        <!-- Card "BOM CONVÍVIO" -->
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-content">
                        <img class="bd-placeholder-img rounded-circle" width="160" height="160"
                            src="assets/img-regras/dois-caes-petlove.jpg" role="img" aria-label="Placeholder">
                        <h2 class="h201">BOM CONVÍVIO</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card "SAÚDE" -->
        <div class="cardesquerdo">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-content">
                        <h2 class="h202">SAÚDE</h2>
                        <img class="bd-placeholder-img rounded-circle" width="160" height="160"
                            src="assets/img-regras/cachorro-feliz-no-veterinario.jpg" aria-label="Placeholder"
                            style="object-fit: cover;">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card "ALIMENTAÇÃO" -->
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-content">
                        <img class="bd-placeholder-img rounded-circle" width="160" height="160"
                            src="assets/img-regras/Cachorro-pote-Petlove.jpg" role="img" aria-label="Placeholder"
                            style="object-fit: cover;">
                        <h2 class="h203">ALIMENTAÇÃO</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card "HORÁRIOS" -->
        <div class="cardesquerdo">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card-content">
                        <h2 class="h204">HORÁRIOS</h2>
                        <img class="bd-placeholder-img rounded-circle" width="160" height="160"
                            src="assets/img-regras/COMBATE-2022-04-12T220249.133-1536x864.jpg" role="img"
                            aria-label="Placeholder" style="object-fit: cover;">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card "AVALIAÇÃO/ADAPTAÇÃO" -->
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-content">
                        <img class="bd-placeholder-img rounded-circle" width="160" height="160"
                            src="assets/img-regras/cachorro-com-coleira.jpg" role="img" aria-label="Placeholder"
                            style="object-fit: cover;">
                        <h2 class="h205">AVALIAÇÃO/ADAPTAÇÃO</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardsss">
            <h1>CRONOGRAMA DE ATIVIDADES</h1>

            <div class="horarios">
                <h2><img src="assets/img-regras/icons8-coleira-50.png" alt="" width="40" height="40">7h - 10h / entrada
                </h2>
                <h2><img src="assets/img-regras/icons8-osso-50.png" alt="" width="40" height="40"> 10h - 12h / gasto
                    energético</h2>
                <h2><img src="assets/img-regras/icons8-coleira-50.png" alt="" width="40" height="40">12h - 15h / almoço
                    e
                    descanso</h2>
                <h2><img src="assets/img-regras/icons8-osso-50.png" alt="" width="40" height="40">15h - 17h / atividades
                    mentais</h2>
                <h2><img src="assets/img-regras/icons8-coleira-50.png" alt="" width="40" height="40">17h - 10h / saída
                </h2>
            </div>
        </div>
    </div>

</body>