<body>

    <div class="cards-container">
        <div class="card">
            <div class="content">
                <p class="heading">DAYCARE</p>
                <p class="para">
                    <img src="assets/certo.png" alt="Daycare Image">
                </p>
                <a routerLink="pg-servico">
                <button class="btn">Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <p class="heading">SOBRE NÓS</p>
                <p class="para">
                    <img src="assets/sobrenos.png" alt="Sobre Nós Image">
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <p class="heading">REGRAS</p>
                <p class="para">
                    <img src="assets/regras.png" alt="Regras Image">
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
    </div>

</body>