<body>
    <div class="footer">
        <a href="https://www.instagram.com" class="social"><img src="assets/icons8-instagram-30.png" alt=""></a>
        <a href="https://www.whatsapp.com/" class="social"><img src="assets/icons8-whatsapp-30.png" alt=""></a>
     
        <img src="assets/logo.png" alt="Logo" class="logo">
       
       
        <h2 class="titulo">PETCITY</h2>
        <a href="https://www." class="localizacao"><img src="assets/icons8-localizacao-30.png" alt=""></a>
    </div>
</body>
