<footer class="footer">
    <div class="conteudor">
        <div class="social">
            <a href="https://www.instagram.com"><img src="assets/icons8-instagram-30.png" alt=""></a>
        </div>
        <div class="social">
            <a href="https://www.whatsapp.com/"><img src="assets/icons8-whatsapp-30.png" alt=""></a>
        </div>
        <div class="logo">
            <img src="assets/logo.png" alt="Logo">
        </div>
        <div class="titulo">
            <h2></h2>
        </div>
        <div class="localizacao">
            <a href="https://www."><img src="assets/icons8-localizacao-30.png" alt=""></a>
        </div>
    </div>
</footer>